*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.calc{
    display:inline-block;
    min-width: 300px;
    max-width: 310px;
    background-color: rgb(141, 140, 140);
    padding: 10px;
    border-radius: 50px;

}

result{
    background-color:   rgb(221, 220, 220);
    border: none;
    font-size: 10px;
    font-weight: bolder;
    font: larger;
    display: inline-block; 
    text-align: right; 
    width: 95%;
    border-radius: 50px;
    
}
span{
    font-size: 20px;
    height: 38px;
    overflow: hidden;
    display: inline-block; 
    text-align: right; 
    width: 95%;
    
}

button{
   
height: 50px;
width: 50px;
background-color: rgb(252, 45, 45);
border-radius:50% ;
border: none;
box-shadow:  -5px -5px 12px rgb(221, 187, 187),
                     5px  5px 12px wheat;
margin: 9px;
font-size: 16px;
font-family: sans-serif;

}

#equal,#del,#clear{
    width: 120px;
    border-radius: 40px;
    box-shadow:  -5px -5px 12px rgb(221, 187, 187),
                   5px  5px 12px wheat
}
